<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6619fcb89e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/signup.css}" href="../static/css/signup.css">
    <title>Signup</title>
</head>

<body>


<main class="container">
    <h2>Signup</h2>

    <form th:action="@{http://localhost:8080/users}"
          method="post" th:method="post" th:object="${user}">

        <div class="input-field">
            <input type="text"
                   id="name"
                   placeholder="Enter your name"
                   th:field="*{name}">
            <div class="underline"></div>
        </div>

        <div class="input-field">
            <input type="text"
                   id="id"
                   placeholder="Enter your id"
                   th:field="*{id}">
            <div class="underline"></div>
        </div>

        <div class="input-field">
            <input type="email" name="email" id="email" placeholder="Email" th:field="*{email}">
            <div class="underline"></div>
        </div>


        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="Password">
            <div class="underline"></div>
        </div>

        <input type="submit" value="Create account">

        <div class="login-account">
            <a th:href="@{/login}" href="http://localhost:8080/login">If you have account, click here</a>
        </div>
    </form>

</main>

</body>

</html>